* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.modal-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(91, 61, 84);
  background: linear-gradient(
    90deg,
    rgba(91, 61, 84, 1) 25%,
    rgba(121, 9, 86, 1) 51%,
    rgba(132, 0, 255, 1) 90%
  );
}

.modal-btn {
  width: 150px;
  height: 50px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(77, 77, 77, 0.7);
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.card {
  position: relative;

  padding: 30px 40px;
  max-width: 580px;
  width: 100%;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;

  &__close {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }

  &__title {
    margin-bottom: 10px;

    background: linear-gradient(
      90deg,
      rgb(109, 20, 20) 25%,
      rgba(121, 9, 86, 1) 51%,
      rgba(132, 0, 255, 1) 90%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text {
    margin-bottom: 20px;

    font-size: 20px;
    color: rgb(32, 15, 15);
  }

  &__btn {
    width: 150px;
    height: 50px;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000;
    color: #fff;

    text-decoration: none;
  }
}
